<a href="https://colab.research.google.com/github/VenturaCerqueira/Curso-Udemy--DS-_e_-machine_learning/blob/main/Curso-Udemy-Inicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Curso Udemy - DS E Machine learning 
##Operações Básica, variaveis, string, lista e indexação

In [ ]:
#-------------------------------------------------------------------------------------------------------------->
#Definição Variavel
#Não deve-se iniciar variavel com numero ou caracter especial (*!@#$%¨¨&)
#-------------------------------------------------------------------------------------------------------------->
# V e diferente de v 
x = 1+1 #soma 
y = 1*3 #Mutiplicação  
z = 1/2 #Divisão
A = 3**2 #Exponesiação
#-------------------------------------------------------------------------------------------------------------->
#Declaração de variavel 
text = 'texto' #Tipo texot STR ou String
virgula = 3.10 #Float 
inteiro = 3 #int 
verdadeiro = True #boolean ou bool
falso = False #boolean ou bool
#-------------------------------------------------------------------------------------------------------------->
type (x)  #Diz tipo da variavel ou valor
print(f'\n Valor de X = {x} \n valor de Y = {y} \n valor de Z = {z}  \n valor de A = {A}') #Demontra em tela
print('\n', type (text) ,'\n', type (virgula),'\n', type (inteiro),'\n', type (verdadeiro),'\n', type (falso))
#-------------------------------------------------------------------------------------------------------------->
#Ordem de prioridade 
X = (3*(1+3))/2 
print(X)
#-------------------------------------------------------------------------------------------------------------->
#outra forma de print: 
var = 'anderson'
idade = 25
print('nome_da_variavel: {one} e tenho {two} anos'.format(one = var, two = idade)) #Declara diretamente ao print
                          #ou
print(f'nome_da_variavel: {var} e tenho {idade} anos.')
#-------------------------------------------------------------------------------------------------------------->

 Valor de X = 2
 valor de Y = 3
 valor de Z = 0.5
 valor de A = 9

 <class 'str'>
 <class 'float'>
 <class 'int'>
 <class 'bool'>
 <class 'bool'>
6.0
nome_da_variavel: anderson e tenho 25 anos
nome_da_variavel: anderson e tenho 25 anos.

#Palavras reservadas

In [ ]:
'''
1-int ()            #Inteiro;
2-float()           #Valores com virgula;
3-True              #Verdadeiro;  
4-False             #Falso;
5-str               #String ou texto;
6-Print             #Demonstra conteudo em tela;
7-Input             #Cria campo para usuario para digitar;
8-Type              #Demonstra Tipo da variavel;
9-List              #Lista
10-Disc             #Function Dicionario
11-Complex          # 
'''
#-------------------------------------------------------------------------------------------------------------->
print("Funcionara para demonstra conteudo na tela!") # Demonstra conteudo em tela
#-------------------------------------------------------------------------------------------------------------->
usuario = input('Cria campo para usuario digitar: ') #Input cria campo com interação com usuario
print(usuario)#Apos demonstro valor tela
#-------------------------------------------------------------------------------------------------------------->

#Lista

In [ ]:
#lista
#Lista inicia de 0 ate ultimo valor:
#--------------------------------------------------------------------------------->
lista = [1,2,3, [1,2,3], 'Hello', [1, 2, 3, 4, 5, 6, 7, 8]] #Atribui dados a lista
#--------------------------------------------------------------------------------->
print(lista) #demonstra lista por inteira
#--------------------------------------------------------------------------------->
print(type (lista)) #demonstra tipo 
#--------------------------------------------------------------------------------->
print(lista[0]) #1
print(lista[1]) #2
print(lista[2]) #3
print(lista[3]) #[1, 2, 3]
#--------------------------------------------------------------------------------->
print(lista[3][0]) #Seleciona o primeiro valor da lista
print(lista[3][2]) #Seleciona o ultimo valor da lista
#--------------------------------------------------------------------------------->
print(lista[4]) #Demonstra texto 'Hello'
#--------------------------------------------------------------------------------->
print(lista[4][0]) # H
print(lista[4][1]) # E
print(lista[4][2]) # L
print(lista[4][3]) # L
print(lista[4][4]) # O
#--------------------------------------------------------------------------------->
print(lista[4][0:3])#Slice
#--------------------------------------------------------------------------------->
print(lista[5][0: :2])#Slice com pulo

#Dicionario

In [ ]:
#Dicionario
#--------------------------------------------------------------------------------->
dic = {'valor1': 1, 'valor2': 2}
type (dic)
print(dic)
#--------------------------------------------------------------------------------->

{'valor1': 1, 'valor2': 2}

In [ ]:
x = y = z = 10
print(x, z, y)

10 10 10

In [ ]:
def myfunc ():
  return x
  x = "fantástico"

In [ ]:
x = "Hello World"
print(len(x))

11

In [ ]:
txt = " Hello World "
x = txt.strip()